.App__noticiasPreview__card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #000;
    min-height: 250px;
    max-height: 300px;
    border-radius: 15px;
    overflow: hidden;
}

.App__noticiasPreview__card-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 5px 5px;
}
.App__noticiasPreview__card--title{
    text-align: center;
}
.App__noticiasPreview__card--link{
    text-decoration: none;
    border: 1px solid #000;
    text-align: center;
}
  