.App__NoticiaView__Data__header--url, .App__noticiasPreview__card--link{
  text-decoration: none;
  padding: 10px;
  border-radius: 80px;
  font-size: 20px;
  background-color: #7DC242;
  color: #fff;
  max-height: 60px;
}
