.App__noticiasPreview__noticia--img{
  width: 50%;
  height: 100%;
  margin-right: 10px;
  object-fit: cover;
}
@media screen  and (max-width: 480px){
  
}
@media screen and (min-width: 481px) and (max-width: 768px){

}
@media screen and (min-width: 769px) and (max-width: 1200px){

}
